.input-container{
    display: flex;
    flex-direction: column;
    gap:0.5rem;
}
.input-wrapper {
  position: relative;
}
.input-label{
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.input{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    font-size: 1.8rem;
    font-weight: 400;
    color: #006C75;

}
.input::placeholder{
    color: #9EB8BB;
    font-size: 1.6rem;
    font-weight: 200;
}

.password-toggle{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    color: #006C75;
}